<!DOCTYPE html>
<html>

<head>
  <title>RSA</title>
</head>

<body>
  <h1>
  	Rivest - Shamir - Adleman
  </h1>
  <form action="/rsa/decrypt" method="POST" enctype="multipart/form-data">
    <div>
      <p>Message:</p>
      <input type="file" name="message" required/>
    </div>
    <div>
      <p>Private key: (n: 
        <input type="number" name="n" step="1" value="2" min="2" required/>
        , d: 
        <input type="number" name="d" step="1" value="2" min="2" required/>
        )
        <input type="file" name="prikey-file"/>
      </p>
    </div>
    <div>
      <br>
      <input type="submit" value="Decrypt Message" />
    </div>
  </form>
  <br />
  <br />
  <a href="/">Home</a>
</body>
  
</html>
