<!DOCTYPE html>
<html>

<head>
  <title>ECC</title>
</head>

<body>
  <h1>
  	Elliptic Curve Cryptography - El Gamal
  </h1>
  <form action="/ecc/generate" method="POST">
    <div>
      <p>Elliptic Curve: y<sup>2</sup> = x<sup>3</sup> +
        <input type="number" name="x-coef" step="1" value="0" />
        x +
        <input type="number" name="const" step="1" value="0" />
        mod
        <input type="number" name="modulo" step="1" value="0" />
      </p>
    </div>
    <div>
      <p>Base Point: (
        <input type="number" name="bpoint-x" step="1" value="0"/>
        , 
        <input type="number" name="bpoint-y" step="1" value="0"/>
        )
      </p>
    </div>
    <div>
      <br>
      <input type="submit" value="Generate Key" />
    </div>
  </form>
  <br />
  <br />
  <a href="/">Home</a>
</body>

</html>
